# this file contains algorand network settings for interacting with testnet via algonode
ALGOD_SERVER=https://testnet-api.algonode.cloud
INDEXER_SERVER=https://testnet-idx.algonode.cloud

TEST_ADMIN=XXGOVXYUINHINMCPZHD7E2JXLJGPZRVKY5A53M2EZ6DAX66V6W5AMNLDZI
TEST_XGOV_BACKEND=VT7KFJL4W6T6Q6NVSSFDEYAPTU4TOCKSFJLA7LR32QKDCNVDRJBNUYOAGM
