name: Validate xgov-beta-sc

on:
  workflow_call:
  pull_request:
  schedule:
    # * is a special character in YAML so you have to quote this string
    - cron:  "0 0 1 * *"  # Run once a month at midnight on the 1st of the month	

jobs:
  validate:
    runs-on: "ubuntu-latest"
    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Install poetry
        run: pipx install poetry

      - name: Set up Python 3.12
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"
          cache: "poetry"

      - name: Install algokit
        run: pipx install algokit

      - name: Start LocalNet
        run: algokit localnet start

      - name: Bootstrap dependencies
        run: algokit project bootstrap all

      - name: Configure git
        shell: bash
        run: |
          # set git user and email as test invoke git
          git config --global user.email "actions@github.com" && git config --global user.name "github-actions"

      - name: Audit python dependencies
        run: algokit project run audit

      - name: Lint and format python dependencies
        run: algokit project run lint

      - name: Run tests
        shell: bash
        run: |
          set -o pipefail
          algokit project run test

      - name: Build smart contracts
        run: algokit project run build

      - name: Check output stability of the smart contracts
        run: algokit project run ci-teal-diff

      - if: ${{ github.actor != 'dependabot[bot]' }}
        name: Run deployer against LocalNet
        run: algokit project deploy localnet
        env:
          # Deploy command to run
          XGOV_REG_DEPLOY_COMMAND: deploy
          # Pinata API JWT to publish deployed App Spec on IPFS
          ALGOKIT_PINATA_JWT: ${{ secrets.ALGOKIT_PINATA_JWT }}
